<!DOCTYPE html>
<html>
    <head>
        <title>Sistema Receitas</title>
    </head>
    <body>
        <center>
            <h1>Sistema Receitas</h1>
            <a href="usuarioCreate">
                <button>Cadastrar Usuario</button>
            </a>
            <a href="usuarioList">
                <button>Listar Usuarios</button>
            </a>
            <a href="comentarioCreate">
                <button>Cadastrar Comentario</button>
            </a>
            <a href="comentarioList">
                <button>Listar Comentario</button>
            </a>
            <br><br>
            {{{body}}}
        </center>
    </body>
</html>