<!DOCTYPE html>
<html>
    <head>
        <title>Sistema Receitas</title>
    </head>
    <body>
        <center>
            <h1>Sistema Receitas</h1>
            <br> <br>
            {{{body}}}
        </center>
    </body>
</html>